@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  @apply container mx-auto px-8 py-32;
}

.feature-card {
  @apply flex flex-col items-center justify-center space-y-2 rounded border-2 border-dashed border-red-500 p-6 text-center;
}

.testimonial-card {
  @apply flex flex-col justify-center rounded bg-zinc-800 p-8 shadow-lg;
}

.pricing-tab {
  @apply cursor-pointer text-lg font-medium uppercase text-stone-300 duration-200 hover:text-red-500;
}

.pricing-tab[active] {
  @apply border-b border-red-500 text-red-500;
}

.nav-item {
  @apply cursor-pointer text-sm font-medium text-zinc-100 duration-200 hover:text-red-500;
}

.price-card {
  @apply w-96 flex-col space-y-4 rounded-sm bg-zinc-800 p-10 shadow-lg lg:mx-auto;
}

.price-card.flex {
  animation: fade-in 300ms;
}

.onboarding-card {
  @apply flex flex-col items-center justify-center lg:flex-row lg:space-x-10;
}

.onboarding-card-reverse {
  @apply flex flex-col-reverse items-center justify-center lg:flex-row lg:space-x-10;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
